attrdict
cairocffi
CairoSVG
cffi
Click
cssselect2
defusedxml
Flask
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
Pillow
pycparser
pyparsing
PyYAML
six
svgwrite
tinycss2
Wand
webencodings
Werkzeug
WTForms
cairosvg
Wand
